{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 
{% block content %}

<div class="page-header">
    {% if stickerbook %}
    <h1>Edit {{ stickerbook.name }}</h1>
    {% else %}
    <h1>Add a Stickerbook</h1>
    <img src="{% static 'images/polkastar.png' %}" alt="polkadot star icon" />
    {% endif %}
</div>

<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}
