{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/stickerbooks/stickerbook-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="stickerbook-container">
  <div class="stickerbook-img">
    <img src="{% static 'images/stickerbookhomelogo.png' %}" class ="usr-img" alt="iconlogo" />
  </div>
  <div class="stickerbook-details">
    <h1>{{ stickerbook.name }}</h1>
    <h2>{{ stickerbook.date }}</h2>
    <h2>{{ stickerbook.description }}</h2>

    <div class="stickerbook-actions">
      <a href="{% url 'stickerbook-update' stickerbook.id %}" class="btn warn">Edit</a>
      <a href="{% url 'stickerbook-delete' stickerbook.id %}" class="btn danger">Delete</a>
    </div>
    
  </div>
</section>

<div class="stickers-container">
  <section class = "stickers">
    <div class="subsection-title">
      <h2>Stickers Collected:</h2>
    </div>
    <body>
      <form action="{% url 'add-sticker' stickerbook.id %}" method="post" class="subsection-content" autocomplete="off">
        {% csrf_token %}
        {{ sticker_form.as_p }}
        <button type="submit" class="btn submit">Add Sticker</button>
      <ul>
        {% for sticker in stickerbook.sticker_set.all %}
        <li><img src="{{ sticker.original_url }}"></li>
        {% endfor %}
      </ul>
    </body>
  </section>
</div>

{% endblock %}
