{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/stickerbooks/stickerbook-index.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
<h1>All Stickerbooks</h1>

</section>

<section class="card-container">
  {% for stickerbook in stickerbooks %}
  <div class="card">
    <a href="{% url 'stickerbook-detail' stickerbook.id %}">
      <div class="card-content">
        <div class="card-img-container">
          <img
            src="{% static 'images/stickerbookhomelogo.png' %}" class="indexlogo"
            alt="Stickerbook Logo"
          />
        </div>
        <h2 class="card-title">{{ stickerbook.name }}</h2>
        <p>{{ stickerbook.date }}</p>
        <p><small>{{ stickerbook.description }}</small></p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}
